.ta-emoji-textarea {
    margin-block-start: 1px;
    margin-block-end: 1px;
    border: 2px inset ThreeDLightShadow;
    padding-inline-start: 1px;
    padding-inline-end: 1px;
    background-color: -moz-Field;
    color: -moz-FieldText;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    text-rendering: optimizeLegibility;
    text-align: start;
    text-transform: none;
    word-spacing: normal;
    letter-spacing: normal;
    vertical-align: text-bottom;
    cursor: text;
    resize: both;
    -moz-binding: url("chrome://global/content/platformHTMLBindings.xml#textAreas");
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    text-indent: 0;
    -moz-user-select: text;
    text-shadow: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    overflow-clip-box: content-box;

    display:inline-block;
    min-height:2.5em;
    border: 1px solid gray;

    font-size: 1em;
    line-height: 1.5em;

    /* Bootstrap formatting */

    color: #555;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.ta-emoji-textarea:focus {
    outline: 0px solid transparent;
}

.ta-emoji-ico {
    vertical-align: 3px;
    width:1.5em;
    height:1.5em;
    display:inline-block;
    vertical-align:text-bottom;
    background-size: 1.5em 1.5em;
    margin: 0px 2px;
}

.ta-emoji-panel {
    z-index: 1100;
    position: absolute;
    padding: 5px;
    border-radius:3px;
    background-color: white;
    border:1px solid silver;
    width:260px;
    height: 200px;
    overflow:auto;
}

.ta-emoji-panel span.ta-emoji-panel-btn {
    display: inline-block;
    padding:3px;
    margin:3px;
}

.ta-emoji-panel span.ta-emoji-panel-btn:hover {
    background-color: #EAEAEA;
}
